/*Se setea una fuente diferente a la original de bootstrap*/
body {
    font-family: 'Source Sans Pro', sans-serif;
}

body.background.error-page-wrapper, .background.error-page-wrapper.preview {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}

.background.error-page-wrapper .content-container {
	border-radius: 6px;
	text-align: center;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	padding:20px;
	background-color: #fff;
	width:100%;
	max-width:525px;
	left:50%;
}

.background.error-page-wrapper .head-line {
	transition:color .2s linear;
	font-size:48px;
	line-height:60px;
	letter-spacing: -1px;
	margin-bottom: 5px;
	color:#ccc;
}

.background.error-page-wrapper .subheader {
	transition:color .2s linear;
	font-size:36px;
	line-height:46px;
	color:#333;
}

.background.error-page-wrapper .hr {
	height:1px;
	background-color: #ddd;
	width:60%;
	max-width:250px;
	margin:35px auto;
}

@media screen and (max-width: 555px) {
	.background.error-page-wrapper {
	  padding:20px 5%;
	}
	.background.error-page-wrapper .content-container {
	  padding:37px;
	  position: static;
	  left: 0;
	  margin-left:0;
	}
	.background.error-page-wrapper .head-line {
	  font-size:36px;
	}
	.background.error-page-wrapper .subheader {
	  font-size:27px;
	  line-height: 37px;
	}
	.background.error-page-wrapper .hr {
	  margin:30px auto;
	  width:215px;
	}
}

@media screen and (max-width: 450px) {
	.background.error-page-wrapper {
	  padding:20px;
	}
	.background.error-page-wrapper .head-line {
	  font-size:32px;
	}
	.background.error-page-wrapper .hr {
	  margin:25px auto;
	  width:180px;
	}
}

.primary-text-color {
	color: #494949 !important;
}

.secondary-text-color {
	color: #AAAAAA !important;
}

.shadow {
	box-shadow: 0 0 51px #000000;
}